.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.doneTask {
  color: #4a8c2a;
  font-weight: revert;

}
.notDoneTask {
  color:palevioletred;
  font-weight: bold;
}

.inputError {

  border-color: palevioletred;
}

.activeBtn {
  background-color: #cfb429;
}
.notActiveBtn {
  background-color: #c8c7c7;
}
.errorMessage {
  color: palevioletred;
}